{% extends "base.html" %}

{% block title %}Live{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <h2>{{live.name}}</h2>
        <p>主播: {{live.liveuser.username}}</p>
        <video id="videoElement" width="100%" height="500px" controls="controls"></video>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}

{% block tail_js %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.3.3/flv.min.js"></script>
<script>
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            isLive: true,
            url: 'https://cn-zjtz-cmcc-live-01.live-play.acgvideo.com/live-bvc/118267/live_10893225_8326532.flv?expires=1544541312&ssig=LldyY5VNscgzZ1tJodxP7w&oi=1879763156&trid=313eedeec10a4bc68ba7c7970432923b'
        });
        flvPlayer.attachMediaElement(videoElement)
        flvPlayer.play()
    }
</script>
{% endblock %}