.form {
    width: 200px;
    margin: 0 auto;
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none !important;
}

.course__name,
.course__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

.course img {
    height: 180px !important;
}

.nav-pagination {
    text-align: center;
}

body {
	background-color:powderblue;
}
